body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.shoe-type img {
  max-width: 250px;
  border-radius: 10px;
}

.shoe-details {
  margin-left: 30px;
}

.shoe-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.shoe-details p {
  margin-bottom: 5px;
  color: #555;
}

.shoe-details .price {
  font-size: 20px;
  color: #007bff;
}
.buy-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #0056b3;
}
